Repository jayanthkoushik/shinyutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, docs

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: poetry run mypy --ignore-missing-imports .
    language: system
    types: [python]
    pass_filenames: false
  - id: pydocstyle
    name: pydocstyle
    entry: poetry run pydocstyle
    language: system
    types: [python]
  - id: commitlint
    name: lint commit message
    language: system
    entry: "npx commitlint -x=@commitlint/config-conventional -e"
    always_run: true
    stages: [commit-msg]
  - id: docs
    name: build docs with sphinx
    language: system
    files: ".*\\.py|docs/make\\.sh"
    exclude: "tests/.*\\.py"
    entry: poetry run docs/make.sh
    pass_filenames: false

ci: install `poetry-dynamic-versioning` in github workflows
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
Due: none

Update README.md
  README.md
Due: none

fix: handle single command case in `run_prog`
  shinyutils/__init__.py
Due: black, isort, pylint, mypy, pydocstyle, docs

feat: raise `TypeError` if `SH` instance re-entered
  shinyutils/sh.py
Due: black, isort, pylint, mypy, pydocstyle, docs

build: use token for publishing to PyPI
  .github/workflows/pypi-publish.yml
Due: none

fix: handle single unnamed command case in `run_prog`
  shinyutils/__init__.py
Due: black, isort, pylint, mypy, pydocstyle, docs

chore(release): 12.4.0
  CHANGELOG.md
Due: none

ci: fix PYPI_TOKEN name in workflow
  .github/workflows/pypi-publish.yml
Due: none

refactor: simplify importing from `typing_extensions`
  shinyutils/__init__.py
  shinyutils/logng.py
  shinyutils/matwrap.py
  shinyutils/pt.py
Due: black, isort, pylint, mypy, pydocstyle, docs

build: update black/pylint versions
  pyproject.toml
  shinyutils/__init__.py
  shinyutils/pt.py
Due: black, isort, pylint, mypy, pydocstyle, docs

build: add optional dependencies for modules
  README.md
  pyproject.toml
  shinyutils/logng.py
  shinyutils/matwrap.py
Due: black, isort, pylint, mypy, pydocstyle, docs

docs: move `MatWrap` docs outside `__init__`
  docs/shinyutils.matwrap.md
  shinyutils/matwrap.py
Due: black, isort, pylint, mypy, pydocstyle, docs

style: refactor exception messages in `matwrap`
  shinyutils/matwrap.py
Due: black, isort, pylint, mypy, pydocstyle, docs

feat: add `is_debug_mode` function
  docs/shinyutils.logng.md
  shinyutils/logng.py
Due: black, isort, pylint, mypy, pydocstyle, docs

feat: add `match_tensors` function
  docs/shinyutils.pt.md
  shinyutils/pt.py
Due: black, isort, pylint, mypy, pydocstyle, docs

build: use `perl` in `docs/make.sh` to not rely on `sed` behavior
  docs/make.sh
Due: docs

refactor: move `run_prog` function to separate module
  shinyutils/__init__.py
  shinyutils/_utils.py
Due: black, isort, pylint, mypy, pydocstyle, docs

perf: directly set log level when parsing from command line arg
  shinyutils/logng.py
Due: black, isort, pylint, mypy, pydocstyle, docs

feat: allow specifying log level with environment variable
  docs/shinyutils.logng.md
  shinyutils/logng.py
Due: black, isort, pylint, mypy, pydocstyle, docs
